<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Última Página</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-ultima.css') }}">
</head>
<body>
    <!-- Barra superior de fundo -->
    <div class="barra-superior"></div>
    
    <!-- Canto esquerdo superior -->
    <div class="about-you">
        𝕬𝖇𝖔𝖚𝖙 𝖄𝖔𝖚!!!
    </div>
    
    <!-- Canto direito superior -->
    <div class="te-amo">
        𝓣𝓮 𝓐𝓶𝓸.
    </div>
    
    <!-- Parte superior para título -->
    <div class="titulo-superior">
        <h1></h1>
    </div>

    <!-- Container de imagens -->
    <div class="imagens-container">
        <img src="{{ url_for('static', filename='imagens_ultima/alanzoka.png') }}" class="img-alanzoka">
        <img src="{{ url_for('static', filename='imagens_ultima/bengala.png') }}" class="img-bengala">
        <img src="{{ url_for('static', filename='imagens_ultima/bobs.png') }}" class="img-bobs">
        <img src="{{ url_for('static', filename='imagens_ultima/book.png') }}" class="img-book">
        <img src="{{ url_for('static', filename='imagens_ultima/breatice.png') }}" class="img-breatice">
        <img src="{{ url_for('static', filename='imagens_ultima/brecho.png') }}" class="img-brecho">
        <img src="{{ url_for('static', filename='imagens_ultima/caracol.png') }}" class="img-caracol">
        <img src="{{ url_for('static', filename='imagens_ultima/cerveja.png') }}" class="img-cerveja">
        <img src="{{ url_for('static', filename='imagens_ultima/cinamoroll.png') }}" class="img-cinamoroll">
        <img src="{{ url_for('static', filename='imagens_ultima/cinto_sonic.png') }}" class="img-cinto_sonic">
        <img src="{{ url_for('static', filename='imagens_ultima/cruz.png') }}" class="img-cruz">
        <img src="{{ url_for('static', filename='imagens_ultima/espiral.png') }}" class="img-espiral">
        <img src="{{ url_for('static', filename='imagens_ultima/garfield.png') }}" class="img-garfield">
        <img src="{{ url_for('static', filename='imagens_ultima/gargantilha.png') }}" class="img-gargantilha">
        <img src="{{ url_for('static', filename='imagens_ultima/genshin.png') }}" class="img-genshin">
        <img src="{{ url_for('static', filename='imagens_ultima/hamtaro.png') }}" class="img-hamtaro">
        <img src="{{ url_for('static', filename='imagens_ultima/hotdog.png') }}" class="img-hotdog">
        <img src="{{ url_for('static', filename='imagens_ultima/jojo.png') }}" class="img-jojo">
        <img src="{{ url_for('static', filename='imagens_ultima/kuromi_batz.png') }}" class="img-kuromi_batz">
        <img src="{{ url_for('static', filename='imagens_ultima/lillychouchou.png') }}" class="img-lillychouchou">
        <img src="{{ url_for('static', filename='imagens_ultima/mel_leite.png') }}" class="img-mel_leite">
        <img src="{{ url_for('static', filename='imagens_ultima/nana.png') }}" class="img-nana">
        <img src="{{ url_for('static', filename='imagens_ultima/nath.png') }}" class="img-nath">
        <img src="{{ url_for('static', filename='imagens_ultima/nordestina.png') }}" class="img-nordestina">
        <img src="{{ url_for('static', filename='imagens_ultima/pablo.png') }}" class="img-pablo">
        <img src="{{ url_for('static', filename='imagens_ultima/parque.png') }}" class="img-parque">
        <img src="{{ url_for('static', filename='imagens_ultima/pedrinhas.png') }}" class="img-pedrinhas">
        <img src="{{ url_for('static', filename='imagens_ultima/presilha_de_cigarro.png') }}" class="img-presilha_de_cigarro">
        <img src="{{ url_for('static', filename='imagens_ultima/puck.png') }}" class="img-puck">
        <img src="{{ url_for('static', filename='imagens_ultima/punpun.png') }}" class="img-punpun">
        <img src="{{ url_for('static', filename='imagens_ultima/radiohead.png') }}" class="img-radiohead">
        <img src="{{ url_for('static', filename='imagens_ultima/saae.png') }}" class="img-saae">
        <img src="{{ url_for('static', filename='imagens_ultima/smiths.png') }}" class="img-smiths">
        <img src="{{ url_for('static', filename='imagens_ultima/sun_moon.png') }}" class="img-sun_moon">
        <img src="{{ url_for('static', filename='imagens_ultima/vinho.png') }}" class="img-vinho">
    </div>
</body>
</html>